header
	div.sticky-nav
		div#logo
			a#goUp(href="/" title="QoECenter") QoECenter 				
		nav#menu
			ul#menu-nav
				li.dropdown
					a(href="/") Home
				li.dropdown
					a(href="/gl/movie") Videos
				li.dropdown
					a(href="/gl/movieCate") Video Types
				li.current
					a(href="/gl/dash") Dash Videos
				li.dropdown
					a(href="/") about us
				li
					a(href="/user/logout") logout

		<!-- Our Shortcodes Section -->
	div#shortcodes
		div.container
			div.row
				div.span12(style="height:420px")
					div.title-page(style="position:absolute;top:70px;left:110px; right:110px")
						br
						h3.text-title Instructions
						h6.text-content(style="text-align:justify; text-justify:inter-ideograph;") The QoECenter is available free of charge for educational and non-commercial purposes. In exchange, we kindly request that you make available to us the results of running the QoECenter. Please use the following references in using the platform:
						h6.text-content(style="text-align:justify; text-justify:inter-ideograph;") •     L. Zhang, S. Wang, F. Yang. Towards User Quality of Experience and Selective Attention: A Subtitle-Based Measurement Study. Int'l Conf. Service Computing, 2016. 
						h6.text-content(style="text-align:justify; text-justify:inter-ideograph;") •     L. Zhang, S. Wang, R. K. Wrong. Cognitively Adjusting Imprecise User Preferences for Service Selection . IEEE Trans. Network and Service Management, 2016. 
						h6.text-content(style="text-align:justify; text-justify:inter-ideograph;") •     L. Zhang, S. Wang, M. Yang, Y. Guo. Service Selection and Recommendation in Integrated Network Environment [M]. American: IET, 2016. 
						br
						h4.text-title contact us
						h6.text-content(style="text-align:justify; text-justify:inter-ideograph;") Your comments and suggestions are welcome. Please send your comments by email:  <a class="email-white" target="_blank" href="mailto:zhanglingyan@bupt.edu.cn">Ph.D. Lingyan Zhang</a>，<a class="email-white" target="_blank" href="http://www.sguangwang.com/">Prof. Shangguang Wang</a>
						br
	script(src="/js/aboutus.js")



