doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
    title QoECenter
    link(href="/css/bootstrap.min.css" rel="stylesheet" type="text/css")
    link(href="/css/font-awesome.min.css" rel="stylesheet" type="text/css")
    link(href="/css/AdminLTE.css" rel="stylesheet" type="text/css")
    link(href="/css/starability.css" rel="stylesheet" type="text/css")
    link(href="/css/ui.css" rel="stylesheet" type="text/css")
    link(href="/css/ui.progress-bar.css" rel="stylesheet" type="text/css")
    link(href="/css/ios.css" rel="stylesheet" type="text/css")
    link(rel="icon",href="/img/favicon.ico",type="image/x-icon")
    link(href="/css/main.css" rel="stylesheet")
    link(href="http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900" rel="stylesheet" type="text/css") 
    script(src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js")
    script(src="http://cdn.dashjs.org/latest/dash.all.min.js")
  body
    #mainProgress
    header
        div.sticky-nav
            div#logo
                a#goUp(href="/" title="QoECenter") QoECenter              
            nav#menu
                ul#menu-nav
                    li.dropdown
                      a(href="/") Home
                    li.dropdown
                      a(href="/gl/movie") Videos
                    li.dropdown
                      a(href="/gl/movieCate") Video Types
                    li.current
                      a(href="/aboutus") about us
                    li
                      a(href="/logout") logout

            <!-- Our Shortcodes Section -->
    div#shortcodes
        div.container
            div.row
                //video#video(data-dashjs-player autoplay src="http://dash.edgesuite.net/akamai/bbb_30fps/bbb_30fps.mpd" controls="controls" preload="preload")
                //video#video(data-dashjs-player autoplay src="/dash/demo1/demo1.mp4" controls="controls" preload="preload")
                //video#video(data-dashjs-player autoplay src="/dash/demo1/demo1.mp4" controls="controls" preload="preload")
                video#video(data-dashjs-player autoplay src="/dash/test/index.mpd" controls="controls" preload="preload")
                video#video(data-dashjs-player autoplay src="/dash/test/output/stream.mpd" controls="controls" preload="preload")
                video#video(data-dashjs-player autoplay src="/dash/aaa/output/stream.mpd" controls="controls" preload="preload")
                //- video#video(data-dashjs-player autoplay src="https://dash.akamaized.net/envivio/EnvivioDash3/manifest.mpd" controls="controls" preload="preload")
                //video#video(data-dashjs-player autoplay src="http://qoecenter.oss-cn-shanghai.aliyuncs.com/test/test_dash.mpd" controls="controls" preload="preload")
    footer.page
      div.container
        .row  
          .col-lg-11.col-sm-12
            p.copyright.ext-muted.small Copyright &copy; QoE Team of BUPT 2016. All Rights Reserved

